@import "src/assets/colors";

.node-catchup-wrapper {
  .node-catchup-container {
    .tile {
      height: 180px;
      border-radius: 10px;
      border: none;
      .tile-header {
        display: flex;
        justify-content: space-between;
        .tile-title {
          font-family: PoppinsBold !important;
          margin-bottom: 30px;
        }
      }
      .tile-body {
        .tile-status {
          svg {
            vertical-align: middle;
            margin-right: 10px;
          }
        }
      }
    }

  }
}