@import 'src/assets/colors';

.settings-wrapper {
  .settings-container {
    .settings-header {
      margin-top: 10px;
      .node {
        margin-right: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .settings-body {
      margin-top: 25px;
    }
  }
}