@import '../../assets/colors';

.qr-code-wrapper {
  .qr-code-container {
    text-align: center;
    margin-bottom: 50px;
  }
}

.left-bar-wrapper {
  .left-bar-container {
    height: 100vh;
    position: relative;
    .footer {
      position: absolute;
      bottom: 0px;
      width: 100%;
      padding: 10px 0px;
      border-top: 1px solid $color-grey-light;
      .node {
        margin: 10px 0px;
        &:hover {
          cursor: pointer;
        }
        .node-url {
          text-align: center;
          font-size: 13px;
          svg {
            margin-right: 5px;
            vertical-align: sub;
          }
        }
      }

    }
    .logo {
      height: 80px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      img {
        width: 18px;
        margin-right: 5px;
        vertical-align: top;
      }
      .text {
        display: inline-block;
        margin-top: 25px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .menu-list {
      margin-top: 20px;
    }
  }
}