@import '../../assets/colors';

.qr-code-wrapper {
  .qr-code-container {
    text-align: center;
    margin-bottom: 50px;
  }
}

.left-bar-wrapper {
  .left-bar-container {
    height: 100vh;
    position: relative;
    .footer {
      position: absolute;
      bottom: 0px;
      width: 100%;
      padding: 10px 0px;
      border-top: 1px solid $color-grey-light;

      .node-wrapper {
        .node-container {
          text-align: center;
          margin-top: 20px;
          border-top: 1px solid $color-grey-very-light;
          padding: 15px 0;
          &:hover {
            cursor: pointer;
          }
          .node {
            color: $color-dark;
            .node-url {
              text-align: center;
              font-size: 13px;
              color: $color-dark;
              svg {
                margin-right: 5px;
              }
            }
          }
        }
      }

      .connect-wallet-wrapper {
        .connect-wallet-container {
          text-align: center;
          border-top: 1px solid $color-grey-very-light;
          padding: 15px 0;
          margin-bottom: -10px;
        }
      }

    }
    .logo {
      height: 80px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      img {
        width: 18px;
        margin-right: 5px;
        vertical-align: top;
      }
      .text {
        display: inline-block;
        margin-top: 25px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .menu-list {
      margin: 50px auto 0;
      width: 80%;
    }
  }
}