@import "src/assets/colors";

.abi-method-signature-wrapper {
  .abi-method-signature-container {
    .method-signature {
      .method-sig-section {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-light;
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
        .method-sig-section-key {
          margin-bottom: 5px;
          font-family: PoppinsLight !important;
          font-size: 14px;
        }
        .method-sig-section-value {
          font-weight: bold;
          &.break {
            word-break: break-word;
          }
        }
      }
    }
  }
}