@import "src/assets/colors";

.live-transactions-wrapper {
  .live-transactions-container {
    text-align: left;
    .live-transactions-header {
      font-size: 20px;
      font-weight: bold;
      font-family: PoppinsBold !important;
    }
    .live-transactions-body {
      margin-top: 20px;
      .transaction {
        padding: 20px;
        border-radius: 10px;
        margin: 8px 0px;
        display: flex;
        justify-content: space-between;
        transition: height 2s;
        &.item-enter {
          opacity: 0;
          transform: scale(0.9);
        }
        &.item-enter-active {
          opacity: 1;
          transform: translateX(0);
          transition: opacity 1000ms, transform 1000ms;
        }
        .basic {
          .sub-text {
            margin-top: 15px;
            font-size: 14px;
            color: $color-grey-dark;
            a {
              color: $color-grey-dark !important;
              text-decoration-color: $color-grey-dark !important;
              font-size: 13px;
            }
          }
          a {
            color: $color-dark !important;
            text-decoration-color: $color-dark !important;
            font-size: 14px;
          }
        }
      }
    }
  }
}