@import "src/assets/colors";

.account-transactions-wrapper {
  .account-transactions-container {
    .account-transactions-body {
      .transactions-list-body {
        margin-top: 20px;
      }
      .copy-content {
        font-size: 16px;
        margin-right: 10px;
        vertical-align: text-bottom;
      }
    }
  }
}