@import "src/assets/colors";

.abi-editor-wrapper {
  .abi-editor-container {
    .abi-editor-body {
      margin-top: 25px;
      .abi {
        padding: 20px;
        border-radius: 10px;
        .abi-header {
          padding-bottom: 25px;
          border-bottom: 1px solid $color-grey;
          display: flex;
          justify-content: space-between;
          .abi-name {
            font-size: 20px;
            font-family: PoppinsBold !important;
            margin-bottom: 15px;
          }
          .abi-desc {
            margin-top: 15px;
            font-size: 14px;
            color: $color-grey-dark;
          }
        }
        .abi-body {
          margin-top: 25px;
          .networks {
            padding-bottom: 25px;
            border-bottom: 1px solid $color-grey;
            .networks-header {
              font-family: PoppinsBold !important;
              margin-bottom: 15px;
            }
            .networks-body {
              background: $color-light;
              border-radius: 10px;
              padding: 15px;
              .network {
                padding: 10px 10px 10px 0px;
                display: flex;
                font-size: 14px;
                font-weight: bold;
                .network-name {

                }
                .app-id {
                  margin-left: 15px;
                  .app-link {
                    vertical-align: top;
                    margin-top: -7px;
                    margin-left: 10px;
                    &:hover {
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
          .methods {
            margin-top: 15px;
            .methods-header {
              font-family: PoppinsBold !important;
            }
          }
        }


      }
    }
  }
}