@import "src/assets/colors";

.account-created-assets-wrapper {
  .account-created-assets-container {
    .account-created-assets-body {
      .assets-list-body {
        margin-top: 20px;
      }
      .copy-content {
        font-size: 16px;
        margin-right: 10px;
        vertical-align: text-bottom;
      }
    }
  }
}