@import "src/assets/colors";

.home-wrapper {
  .home-container {
    margin-top: 100px;
    .home-body {
      margin-top: 120px;
      text-align: center;
      .logo {
        width: 60px;
        height: 60px;
      }
      .tag-line {
        font-size: 24px;
        margin-top: 20px;
        font-family: PoppinsBold !important;
      }
      .search-section {
        margin-top: 20px;
      }
      .live-section {
        margin-top: 100px;
      }
    }
  }
}