@import "src/assets/colors";

.live-transactions-wrapper {
  .live-transactions-container {
    text-align: left;
    .live-transactions-header {
      font-size: 20px;
    }
    .live-transactions-body {
      margin-top: 20px;
      .transaction {
        padding: 20px;
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        transition: height 2s;
        border: 1px solid $color-grey-light;
        border-left-width: 8px;
        border-radius: 4px;
        .txn-type {
          font-size: 15px;
          font-weight: bold;
        }
        &.item-enter {
          opacity: 0;
          transform: scale(0.9);
        }
        &.item-enter-active {
          opacity: 1;
          transform: translateX(0);
          transition: opacity 1000ms, transform 1000ms;
        }
        .basic {
          .sub-text {
            margin-top: 15px;
            font-size: 14px;
            a {
              font-family: Poppins !important;
              color: $color-dark !important;
              text-decoration-color: $color-dark !important;
              font-size: 13px;
            }
          }
          a {
            font-family: PoppinsBold !important;
            //color: $color-dark !important;
            //text-decoration-color: $color-dark !important;
            font-size: 13px;
          }
        }
      }
    }
  }
}