.app-root {
  .app-container {
    display: flex;
    justify-content: start;
    .app-left {
      width: 250px;
    }
    .app-right {
      width: 100%;
      .content-wrapper {
        height: 100vh;
        overflow: auto;
        .content-container {
          margin: 20px 100px 100px 100px;
        }
      }
    }
  }

}