@import "src/assets/colors";

.abi-method-executor-wrapper {
  .abi-method-executor-container {

  }
}

.abi-method-executor-modal-content {
  .abi-method-executor-header {
    .abi-method-name {
      font-family: PoppinsBold !important;
      margin-bottom: 15px;
      border-bottom: 1px solid $color-grey-light;
      padding-bottom: 15px;
    }
  }
  .abi-method-executor-body {
    border-top: 1px solid $color-grey-light;
    .abi-method-executor-panel-wrapper {
      .abi-method-executor-panel-container {
        min-height: 500px;
        border-right: 1px solid $color-grey-light;
        padding: 15px 15px 0 0;
        .abi-method-args-form-wrapper {
          .abi-method-args-form-container {
            margin-top: 25px;
            .abi-method-args-form-title {
              font-weight: bold;
              margin-bottom: 20px;
            }
            .abi-method-execute {
              text-align: right;
              margin-top: 20px;
            }
          }
        }
        .info-message {
          margin-top: 20px;
        }
      }
    }
    .abi-method-result-wrapper {
      .abi-method-result-container {
        .abi-method-result-title {
          padding-top: 15px;
          font-weight: bold;
          font-size: 18px;
          text-decoration: underline;
        }
      }
    }
  }
}