@import "src/assets/colors";

.consensus-version-wrapper {
  .consensus-version-container {
    .tile {
      border-radius: 10px;
      border: none;
      .tile-header {
        .tile-title {
          font-family: PoppinsBold !important;
          margin-bottom: 30px;
        }
      }
      .tile-body {
        .tile-status {
          svg {
            vertical-align: middle;
            margin-right: 10px;
          }
        }
        .tile-details {
          margin-top: 20px;
          .tile-detail {
            padding: 10px;
            .key {

            }
            .value {
              margin-top: 10px;
              font-size: 12px;
              color: $color-grey-dark;
              word-break: break-word;
              &.clickable {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

  }
}