@import "../../assets/colors";

.app-call-transaction-wrapper {
  .app-call-transaction-container {
    margin-top: 30px;
    .app-call-transaction-header {
      font-size: 20px;
      font-weight: bold;
    }
    .app-call-transaction-body {
      .props {
        margin-top: 20px;
        border-radius: 10px;
        padding: 20px;
        .property {
          margin-top: 10px;
          .key {
            font-family: PoppinsBold !important;
          }
          .value {
            margin-top: 10px;
            color: $color-grey-dark;
            word-break: break-all;
            &.small {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}