@import "../../assets/colors";

.header-wrapper {
  .header-container {
    height: 80px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    .settings-icon {
      margin-top: 12px;
      margin-left: 25px;
      &:hover {
        cursor: pointer;
      }
    }
    .logo {
      font-family: MontserratBold !important;
      font-weight: bold;
      font-size: 20px;
      padding-top: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}