@import "../../assets/colors";

.header-wrapper {
  .header-container {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-grey-light;
    .settings-icon {
      margin-top: 12px;
      margin-left: 10px;
      &:hover {
        cursor: pointer;
      }
    }
    .logo {
      font-weight: bold;
      font-size: 18px;
      padding-top: 20px;
      .url {
        font-size: 13px;
        margin-top: 50px;
      }
      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        vertical-align: sub;
      }
      &:hover {
        cursor: pointer;
      }
      svg {
        vertical-align: text-bottom;
        margin-right: 5px;
      }
    }
  }
}