@import "src/assets/colors";

.application-global-state-wrapper {
  .application-global-state-container {
    margin-top: 40px;
    .application-global-state-header {
      margin-top: 40px;
      font-size: 20px;
      font-weight: bold;
    }
    .application-global-state-body {
      margin-top: 25px;
      .copy-content {
        font-size: 16px;
        margin-right: 10px;
        vertical-align: text-bottom;
      }
    }
  }
}