@import "../../assets/colors";

.live-blocks-wrapper {
  .live-blocks-container {
    text-align: left;
    .live-blocks-header {
      font-size: 20px;
      font-weight: bold;
      font-family: PoppinsBold !important;
    }
    .live-blocks-body {
      margin-top: 20px;
      .block {
        padding: 30px;
        border-radius: 10px;
        margin: 8px 0px;
        display: flex;
        justify-content: space-between;
        transition: height 2s;
        .round {
          .timestamp {
            margin-top: 15px;
            font-size: 14px;
            color: $color-grey-dark;
          }
          a {
            font-weight: bold;
            font-family: PoppinsBold !important;
            color: $color-dark !important;
            text-decoration-color: $color-dark !important;
          }
        }
      }
    }
  }
}