@import "src/assets/colors";

.dispenser-wrapper {
  .dispenser-container {
    .dispenser-header {
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: bold;
    }
    .dispenser-body {
      
    }
  }
}