@import "src/assets/colors";

.json-viewer-content {
  font-size: 13px;
  .json-viewer-content-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-grey-light;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}

.json-viewer-wrapper {
  .json-viewer-container {

  }
}