@import "src/assets/colors";

.transactions-list-wrapper {
  .transactions-list-container {
    .transactions-list-header {
      margin-top: 40px;
      font-size: 20px;
      font-weight: bold;
    }
    .transactions-list-body {
      margin-top: 50px;
      .copy-content {
        font-size: 16px;
        margin-right: 10px;
        vertical-align: text-bottom;
      }
      .group-txn-icon {
        margin-left: -10px;
      }
      .cell-content {
        .mini-alert {
          width: 32px;
          height: 24px;
          padding: 0;
          border-radius: 4px;
          display: inline-block;
          margin-right: 5px;
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          .MuiAlert-message {
            padding: 0;
            margin-top: 5px;
          }
        }
      }
    }
  }
}