@import "src/assets/colors";

.transactions-list-wrapper {
  .transactions-list-container {
    .transactions-list-header {
      margin-top: 40px;
      font-size: 20px;
      font-weight: bold;
    }
    .transactions-list-body {
      margin-top: 50px;
      .copy-content {
        font-size: 16px;
        margin-right: 10px;
        vertical-align: text-bottom;
      }
      .group-txn-icon {

      }
    }
  }
}