@import "../../assets/colors";

.asset-transactions-wrapper {
  .asset-transactions-container {
    .asset-transactions-header {
      margin-top: 40px;
      font-size: 20px;
      font-weight: bold;
    }
    .asset-transactions-body {
      margin-top: 50px;
      .copy-content {
        font-size: 16px;
        margin-right: 10px;
        vertical-align: text-bottom;
      }
    }
  }
}