@import "~reset-css/sass/reset";
@import "./assets/colors";

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf') format('ttf'),
  url('assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratLight';
  src: url('assets/fonts/Montserrat/Montserrat-Light.ttf') format('ttf'),
  url('assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratThin';
  src: url('assets/fonts/Montserrat/Montserrat-Thin.ttf') format('ttf'),
  url('assets/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('assets/fonts/Montserrat/Montserrat-Bold.ttf') format('ttf'),
  url('assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

body {
  font-family: "Montserrat";
}
* {
  font-family: "Montserrat" !important;
}
